body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto, serif, 'Times New Roman', Times;
}

.header,
.hero {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 0 400px;
}

.header {
    padding-bottom: 64px;
}

.objectsleft,
.objectsright {
    display: flex;
    align-items: center;
}

.objectsleft {
    font-size: 24px;
    color: #F9FAF8;
}


.objectsright {
    gap: 32px;
    justify-content: space-evenly;
}

a,
.hero,
.herobutton {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    display: flex;
    padding-bottom: 200px;
    align-items: flex-start;
    flex-direction: row;
}

.herotext {
    flex-direction: column;
    max-width: 400px;
}

h2 {
    font-size: 48px;
    max-width: 300px;
}

.herobutton {
    background-color: #3882F6;
    border-radius: 15px;
    padding: 10px;
    width: 150px;
    height: 45px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-size: 36px;
    font-weight: 900px;
    color: #1F2937;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 62px;
}

.items {
    max-width: 150px;
    text-align: center;
}

img {
    width: 150px;
    height: 150px;
    border: 5px solid #3882F6;
    border-radius: 25px;
}